/* variables */
:root {
  --primaryColor: #f3deb7;
  --textSecondary: #9d9d98;
  --bgPrimary: #232323;
  --bgSecondary: #323232;
  --blur1: blur(14px);
  --blur2: blur(64px);
  --glowPrimary: #f3deb750;
}

/* colors */

* {
  color: #ffffff;
}

.t-p {
  color: #ffffff;
}

.t-s {
  color: var(--textSecondary);
}

.t-h {
  color: var(--primaryColor);
}

.fw-b {
  font-weight: bold;
}

.fw-l {
  font-weight: 200;
}

.fw-eb {
  font-weight: 700;
}

.bg-p {
  background-color: var(--bgPrimary);
}

.bg-s {
  background-color: var(--bgSecondary);
}

/* text */

.pt-t {
  margin-top: 120px;
  font-size: 3.75rem;
  font-weight: 200;
  color: var(--textSecondary);
  opacity: 0.4;
}

.ct-t {
  font-size: 1.25rem;
  font-weight: bold;
}

.subtitle {
  color: var(--textSecondary);
  font-size: 0.75rem;
}

.num1 {
  font-size: 1.625rem;
  font-weight: 300;
}

.num2 {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--primaryColor);
}

/* blur */

.blur-1 {
  filter: var(--blur1);
}

/* overlay */

.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
  z-index: -999999999;
}

/* background */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #00000050;
  backdrop-filter: blur(40px);
  z-index: 99999999;
  animation: fade-overlay 0.5s;
}

.bg-p {
  background-color: var(--bgPrimary);
}

.bg-s {
  background-color: var(--bgSecondary);
}

.bg-card-primary {
  background-color: var(--bgPrimary);
}

/* glow */

.glow {
  filter: drop-shadow(0px 0px 20px var(--glowPrimary));
  animation: glow 0.5s ease forwards;
}

.glow-rev {
  filter: drop-shadow(0px 0px 20px var(--glowPrimary));
  animation: glow 0.5s backwards;
}

/* shadow */
